

body {
    border-left: 5px solid lightgray;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1000px;
    margin: 0px auto;
    padding-left: 50px;
    padding-top: 0px;
}

header, main  {
    padding: 1rem 2rem;
}

footer {
    padding: 1rem 0;
}

.title {
    color: tomato;
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 70px;
    font-weight: lighter;
}

.subtitle {
    font-weight: lighter;
    padding-top: 0px;
    font-size: 30px;
}

img {
    width: 100%;
}

.main-nav ul {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 40px 0px 0px;
    padding: 0px;
}

.main-nav a {
    color: lightgray;
  
}

footer {
    padding-top: 40px;

}

.footer-nav ul {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}

.footer-nav a {
    color:tomato;
    text-decoration: none;
}

.copy {
    color: lightgray;
}

.blog-title {
    /* font-size: 50px; */
    font-weight: lighter;
}

.continues {
    text-align: right;
    font-weight: bold;
    padding-bottom: 25px;
}

.continues a {
    color: tomato;
    text-decoration: none;
}

.blog-post::first-letter {
    color: lightgray;
    font-size: 600%;
    float: left;
    padding-right: 15px;
    margin-right: 0.1em;
    line-height: 0.8;
}

.blog-post {
    line-height: 200%;
}

time {
    color: lightgray;
    font-size: 30px;
    font-weight: lighter;
}

article {
    margin-top: 50px;
}